{% extends 'base.html.twig' %}

{% block carrousel %} {% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
    <h3>Nos meilleurs ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Récolte d'été. <span
                        class="text-muted"></span></h2>
            <p class="lead">Toute premiere récolte de l'année</p>
        </div>
        <div class="col-md-5">
            <img src="{{asset('assets/img/ruche.jpg')}}" class="img-fluid" alt="Ruche">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Nouveau miel. <span class="text-muted"></span>
            </h2>
            <p class="lead">Toutes dernières récoltes de l'année.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{asset('assets/img/miel.jpg')}}" class="img-fluid" alt="Ruche">
        </div>
    </div>


    <!-- /END THE FEATURETTES -->
{% endblock %}
