{% extends 'base.html.twig' %}

{% block title %}Conditions general de vente!{% endblock %}

{% block content %}


    <h1>CONDITIONS GENERALES DE VENTE DU FOURGON</h1>
    <br>

    <p>
        Article 1 – Objet


        Les présentes Conditions Générales de Vente (CGV) ont pour objet de régir les relations entre le Client et LE FOURGON, SAS au capital de 3.350 €, ayant son siège social 33 rue Denis du Péage - 59520 Marquette-Lez-Lille et immatriculée au RCS de Lille Métropole sous le numéro 893 397 810 (ci-après dénommée « LE FOURGON »).
    </p>
    <p>
        Article 2 – Définitions


        Dans le cadre des présentes CGV, les termes ci-dessous, qu’ils soient employés au singulier ou au pluriel, ont la définition qui suit :


        Application         Désigne l’application mobile du FOURGON, téléchargeable sur AppStore et Google Play, qui sera disponible au plus tard le 15 mai 2021, sur laquelle sont présentés les Produits et permettant au Client de passer une Commande.


        Cagnotte        Désigne la cagnotte du Client sur laquelle sont reversés les coûts des consignes après restitution des Contenants au FOURGON, ainsi que les sommes créditées au titre du parrainage, et dont le solde est automatiquement débité lors du paiement d’une Commande.


        Client        Désigne toute personne physique majeure ayant la qualité de consommateur au sens du Code de la consommation et passant commande auprès du FOURGON.


        Commande         Désigne toute commande de Produits effectuée par un Client sur le Site ou l’Application.


        Compte personnel        Désigne le compte que le Client doit créer, sur le Site ou l’Application, afin de commander des Produits auprès du FOURGON.


        Contenants        Désigne les contenants des Produits (bouteilles, bocaux, caisses, etc.) qui sont réutilisables et consignés.


        Produits        Désigne les produits distribués par LE FOURGON et offerts à la vente sur le Site et l’Application.


        Site        Désigne le site Internet accessible à l’adresse www.lefourgon.com, édité par LE FOURGON, sur lequel sont présentés les Produits et permettant au Client de passer une Commande.
    </p>

    <p>
        Article 3 – Champ d’application


        Toute Commande passée auprès du FOURGON implique l’acceptation sans réserve par le Client et son adhésion pleine et entière aux présentes CGV, acceptation exprimée par le Client en cochant la case prévue à cet effet lors de la passation de sa Commande.

        LE FOURGON se réserve la possibilité de modifier ses CGV à tout moment.

        Les CGV applicables sont celles en vigueur lors de la passation de la Commande.
    </p>

    <p>
        Article 4 – Produits


        4.1. Offre de Produits

        La liste et les caractéristiques des Produits sont disponibles sur le Site et l’Application.

        Les Produits proposés sont uniquement destinés aux particuliers.

        Les boissons alcooliques sont proposées à la vente uniquement aux Clients majeurs.


        4.2. Disponibilité des Produits

        L’offre de Produits est susceptible de modification en fonction des stocks disponibles.

        Le Client se verra confirmer la disponibilité des Produits qu’il aura sélectionnés au moment de la confirmation de sa Commande.

        En cas d’indisponibilité survenant après la passation de la Commande, LE FOURGON en informera le Client et procèdera à son remboursement dans les meilleurs délais.


        4.3. Prix des Produits

        Les prix indiqués sur le Site et l’Application s’entendent en euros toutes taxes comprises (TTC).

        Le prix d’un Produit varie en fonction de la quantité commandée. Sont indiqués les prix unitaires d’un Produit lorsqu’il est commandé à l’unité, par 6, par 12 ou par 24.

        Ces prix sont susceptibles d’évoluer. Le prix applicable à un Produit est celui indiqué sur le Site ou l’Application au moment de la passation de la Commande.


        4.4. Coût de la consigne

        Les prix indiqués sur le Site et l’Application incluent le coût de la consigne des Contenants à l’exclusion du coût de la consigne de la (des) caisse(s).

        A titre indicatif, les coûts de la consigne des Contenants sont les suivants :

        Petite bouteille (25cl ou 33 cl) : 0,10 € (dix centimes d’euros) ;
        Grande bouteille (50cl, 75cl ou 1L) : 0,20 € (vingt centimes d’euros) ;
        Caisse (quel que soit le format) : 3 € (trois euros).
    </p>
    <p>
        Article 5 – Création du Compte personnel du Client


        Afin de pouvoir accéder au Site ou à l’Application et passer commande, le Client doit préalablement créer son Compte personnel.

        Pour ce faire, le Client doit se rendre sur la page d’accueil du Site ou ouvrir l’Application. Il a la possibilité de se connecter, s’il le souhaite, via ses comptes Apple, Google ou Facebook. A défaut, il est invité à remplir le formulaire d’inscription avec les informations qui lui sont demandées (prénom, nom, adresse email, numéro de téléphone, date de naissance, mot de passe et, le cas échéant, un code de parrainage).

        Le Client est invité à préserver la confidentialité des identifiants de son Compte personnel, car toute Commande passée à partir de celui-ci l’engage.

        Le Client a la possibilité de modifier son mot de passe, notamment en cas d’oubli.
    </p>
    <p>


        Article 6 – Passation d’une Commande


        Une fois connecté à son Compte personnel, le Client peut passer commande, en suivant les étapes suivantes :


        6.1. Indication de l’adresse de livraison

        Le Client doit indiquer son adresse de livraison dans l’onglet prévu à cet effet, afin de vérifier qu’elle se situe dans une zone couverte par LE FOURGON.


        6.2. Choix du créneau horaire de livraison

        Si l’adresse de livraison est bien desservie par LE FOURGON, le Client doit choisir, parmi les propositions qui lui sont faites, la date et le créneau horaire auxquels il souhaite recevoir la livraison de sa Commande.


        Choix des Produits – Panachage – Minimum d’achat
        Le Client doit sélectionner les Produits qu’il souhaite commander, en telle nombre qu’il lui plaît.

        Les Produits commandés sont livrés dans des caisses, qui peuvent contenir 6 ou 12 grandes bouteilles ou 24 petites bouteilles. Une Commande ne peut être passée qu’à la condition que toute caisse entamée soit remplie.

        Le panachage des Produits commandés n’est possible que pour les caisses de 12 grandes bouteilles et de 24 petites bouteilles, les caisses de 6 grandes bouteilles devant nécessairement contenir 6 Produits identiques.


        Vérification de la Commande
        Le Client peut vérifier le contenu de sa Commande en consultant son panier, et le cas échéant, le modifier.

        Les Produits sélectionnés sont répartis en fonction du type de caisse utilisé (6 grandes bouteilles, 12 grandes bouteilles ou 24 petites bouteilles).

        Le Client peut ainsi vérifier si toutes les caisses sont complètes, et le cas échéant poursuivre ses achats.


        Validation de la Commande
        Une fois que toutes les caisses sont remplies et que le minimum d’achat est atteint, le Client peut valider sa Commande en cliquant sur le bouton « Valider la commande ».

        Un récapitulatif de la Commande lui est présenté, mentionnant l’adresse de livraison, le créneau choisi, le montant total de la Commande, le cas échéant le montant de la Cagnotte débité.

        Le Client est invité à cocher les cases indiquant qu’il est majeur et qu’il a pris connaissance et qu’il accepte les présentes CGV, et à valider définitivement sa Commande.

        Cette double validation emporte passation ferme et définitive de la Commande.


        Paiement de la Commande
        Si la Cagnotte est positive, ce montant est automatiquement débité pour payer la Commande.

        Le solde doit être payé par le Client. Le seul moyen de paiement accepté est la carte bancaire. LE FOURGON a recours au prestataire STRIPE pour assurer le paiement sécurisé en ligne.


        Confirmation de la Commande
        Une fois que le paiement a été effectué, le Client reçoit un email de confirmation de la part du FOURGON, avec le détail des Produits commandés et les informations relatives au suivi et à la livraison de la Commande.

    </p>
    <p>

        Article 7 – Livraison de la Commande


        7.1. Gratuité de la livraison

        Les frais de livraison sont intégralement pris en charge par LE FOURGON.


        7.2. Modalités de livraison

        La livraison aura lieu pendant le créneau choisi par le Client et à l’adresse par lui indiquée.

        Le Client est responsable de l’exactitude et de l’exhaustivité des informations qu’il fournit au FOURGON pour la livraison.

        Le Client s’engage à se rendre disponible pendant toute la durée du créneau afin de pouvoir recevoir la livraison et à être en mesure de justifier de son identité.

        S’il ne peut se rendre personnellement disponible, le Client peut donner pouvoir à un tiers pour recevoir la livraison à sa place à la même adresse de livraison que celle initialement convenue. Le cas échéant, ce tiers devra être en mesure de justifier de son pouvoir et de son identité.

        LE FOURGON s’engage à livrer les Produits commandés à l’adresse de livraison fournie par le Client et n’est pas responsable de leur acheminement à l’intérieur du domicile du Client.


        7.3. Modification de la livraison

        Si LE FOURGON est dans l’impossibilité d’assurer la livraison de la Commande pendant le créneau choisi par le Client, il en informe ce dernier dans les meilleurs délais et lui propose un autre créneau de livraison. Si aucun créneau ne convient au Client, la Commande sera annulée et LE FOURGON remboursera le Client sans délai.

        Si le Client est dans l’impossibilité de recevoir la livraison de sa Commande pendant le créneau choisi, il peut changer de créneau de livraison, sous réserve d’en informer LE FOURGON au plus tard 24 heures avant l’horaire de livraison prévu, par email à contact@lefourgon.com ou par téléphone +33 3 52 80 03 30.


        7.4. Réception de la livraison

        La Commande sera remise en main propre au Client, contre signature du bon de livraison.

        La signature du bon de livraison emporte acceptation sans réserve des Produits livrés.

        Il appartient au Client de vérifier la conformité des Produits livrés aux Produits commandés et leur état et, le cas échéant, d’émettre les éventuelles réserves qui s’imposent sur le bon de livraison ou de refuser la livraison.
    </p>

    <p>
        Article 8 – Droit de rétractation – Retours


        8.1. Délai de rétractation

        Conformément à l’article L. 221-18 du Code de la consommation, le Client dispose d’un délai de 14 (quatorze) jours pour exercer son droit de rétractation, sans avoir à motiver sa décision ni à supporter d’autres coûts que les coûts directs de renvoi des biens, sauf en cas de récupération par LE FOURGON, selon les modalités précisées à l’article 8.4 ci-après.

        Ce délai court à compter du jour de la réception des Produits commandés. Le Client peut exercer son droit de rétractation à compter de la conclusion du Contrat.


        8.2. Exclusions du droit de rétractation

        Conformément à l’article L. 221-28 du Code de la consommation, le droit de rétractation ne peut être exercé pour les Produits :

        Susceptibles de se détériorer ou de se périmer rapidement ; et,
        Qui ont été descellés par le Client après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé.
        En outre, conformément à l’article L. 221-23 alinéa 3 du Code de la consommation, la responsabilité du Client peut être engagée en cas de dépréciation des Produits résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bien fonctionnement des Produits. Par conséquent, LE FOURGON se réserve le droit de ne pas reprendre les Produits incomplets, endommagés, abîmés ou sales.


        8.3. Modalités d’exercice du droit de rétractation

        Le Client exerce son droit de rétractation en informant LE FOURGON de sa décision de se rétracter en lui adressant, par email ou par courrier, le formulaire de rétractation reproduit en Annexe.

        Conformément à l’article L. 221-22 du Code de la consommation, la charge de la preuve de l’exercice du droit de rétractation pèse sur le Client.


        8.4. Modalités de retour des Produits

        Les Produits retournés peuvent être récupérés par LE FOURGON à l’adresse de livraison indiquée lors de la Commande, dans un créneau horaire à convenir d’un commun accord avec le Client.

        A défaut d’un tel accord, l il appartient au Client de renvoyer ou restituer les Produits au FOURGON ou à une personne désignée par ce dernier, sans retard excessif et, au plus tard, dans les 14 (quatorze) jours suivant la communication de sa décision de se rétracter.


        8.5. Modalités de remboursement

        Lorsque le droit de rétractation est valablement exercé, LE FOURGON rembourse le Client la totalité des sommes versées dans les 14 (quatorze) jours suivant la communication par le Client de sa décision de se rétracter. Le remboursement peut être différé jusqu’à la récupération des Produits retournés ou jusqu’à ce que le Client ait fourni une preuve de l’expédition de ces Produits, la date retenue étant celle du premier de ces faits.

        Le Client a le choix entre un remboursement sur la carte bancaire ayant servi au paiement de la Commande ou le versement de la somme due sur sa Cagnotte.
    </p>

    <p>
        Article 9 – Consigne des Contenants


        Les Contenants sont consignés afin d’être réutilisés.

        Une fois les Produits consommés par le Client, ce dernier est invité à conserver les Contenants afin de les remettre au FOURGON lors d’une prochaine livraison.

        Les Contenants rendus doivent être remis en main propres au FOURGON, entiers et en bon état.

        LE FOURGON se réserve le droit de refuser de reprendre des Contenants abîmés ou en mauvais état.

        LE FOURGON fait son affaire du nettoyage et de la désinfection des Contenants.
    </p>

    <p>
        Article 10 – Cagnotte


        Une fois les Contenants récupérés, LE FOURGON contrôle leur état et, le cas échéant, crédite la Cagnotte du Client du montant correspondant tel qu’indiqué à l’article 4.4 ci-avant.

        La Cagnotte peut également être créditée grâce au système de parrainage décrit à l’article 11 ci-après.

        La Cagnotte sera automatiquement débitée lors de la prochaine Commande passée par le Client.

        Le Client peut obtenir la restitution du solde de sa Cagnotte, correspondant aux sommes reversées au titre du coût des consignes des Contenants et de l’exercice du droit de rétractation, en en faisant la demande par écrit au FOURGON. LE FOURGON s’engage à verser la somme due dans les 14 (quatorze) jours suivant la réception de cette demande et de l’ensemble des éléments et informations nécessaires pour ce faire.
    </p>

    <p>
        Article 11 – Parrainage


        11.1. Modalités du parrainage

        Après avoir passé sa première Commande, le Client reçoit par email un code de parrainage, dont il peut faire profiter son entourage et qu’il peut retrouver sur le Site et l’Application dans la rubrique « Compte / Mes parrainages ».

        Dans cette même rubrique, le Client (le « Parrain ») est invité à renseigner l’adresse email des personnes qu’il souhaite parrainer (les « Filleuls »), à qui LE FOURGON enverra un email contenant un code de parrainage et une invitation à créer un Compte personnel et à passer commande.

        Les crédits obtenus grâce au parrainage, tels que décrits ci-après, ne peuvent faire l’objet d’aucun remboursement au Client.


        11.2. Avantages pour le Filleul

        Si un Filleul renseigne un code de parrainage valide lors de la création de son Compte personnel (cf. article 5), sa Cagnotte sera créditée de 5 € (cinq euros).


        11.3. Avantages pour le Parrain

        Si un Filleul crée un Compte personnel en renseignant le code de parrainage du Parrain et passe commande auprès du FOURGON, son Parrain recevra 5 € (cinq euros) sur sa Cagnotte.
    </p>
    <p>

        Article 12 - Service client


        Le Client peut contacter le service client du FOURGON :

        Par téléphone au +33 3 52 80 03 30 de 9 heures à 18 heures, du lundi au vendredi ;
        Par email à contact@lefourgon.com ;
        Par courrier à LE FOURGON, 33 rue Denis du Péage - 59520 Marquette-Lez-Lille.
    </p>
    <p>

        Article 13 – Garanties légales


        13.1. Garanties en cas de défaut de conformité du bien

        Conformément aux articles L. 217-4 et suivants du Code de la consommation, LE FOURGON est tenu de livrer un bien conforme à la Commande et de répondre des défauts de conformité existant lors de la délivrance.

        L’application de la garantie de conformité a lieu sans aucun frais pour le Client.

        L’action résultant du défaut de conformité se prescrit par 2 (deux) ans à compter de la délivrance du bien.


        13.2. Garantie des vices cachés

        Conformément aux articles 1641 et suivants du Code civil, LE FOURGON est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.

        L’action résultant des vices rédhibitoires doit être intentée par le Client dans un délai de 2 (deux) ans à compter de la découverte du vice.
    </p>

    <p>
        Article 14 – Responsabilité


        La responsabilité du FOURGON ne pourra être recherchée en cas de mauvaise utilisation des Produits.
    </p>

    <p>
        Article 15 – Force majeure


        En cas de survenance d’un évènement de force majeure, tel que défini à l’article 1218 du Code civil, empêchant l’exécution des présentes CGV, LE FOURGON en informe le Client dans les meilleurs délais.

        L’ensemble des obligations des Parties sont suspendues pendant toute la durée de l’événement de force majeure. Si l’événement de force majeure se prolonge pendant plus de 30 (trente) jours, le Contrat pourra être résilié à la demande de l’une ou l’autre des Parties, sans qu’aucune indemnité ne soit due.
    </p>

    <p>
        Article 16 – Données personnelles


        LE FOURGON est amené à traiter des données personnelles des Clients lorsque ceux-ci créent leur Compte personnel ou passent commande.

        En tant que responsable de traitement, LE FOURGON s’engage à traiter les données personnelles des Clients dans le respect de la règlementation applicable en matière de protection des données, en particulier la Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée (dite « Loi Informatique et Libertés ») et le Règlement UE 2016/679 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données du 27 avril 2016 (dit « RGPD »).

        Le Client est invité à prendre connaissance de la Politique de protection des données du Site[a]
    </p>
    <p>
        Article 17– Indépendance des clauses


        Si une partie quelconque des présentes CGV devait s’avérer nulle, invalide ou inapplicable pour quelque raison que ce soit, la ou les stipulations en question seraient déclarées non écrites et les stipulations restantes garderaient toute leur force et leur portée et continueraient à être applicables. Les stipulations déclarées non écrites seraient alors remplacées par des stipulations qui se rapprochent le plus du contenu et du sens de la clause annulée.
    </p>
    <p>


        Article 18 – Litige - Médiation


        Le cas échéant, le Client peut adresser par LRAR ses réclamations au FOURGON, qui s’engage à y répondre dans les meilleurs délais.

        Si aucune solution amiable n’est trouvée, et dans un délai de 1 (un) an à compter de sa réclamation écrite auprès du FOURGON, le Client a la possibilité de recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable du litige qui l’oppose au FOURGON.

        L’activité du FOURGON relève de la compétence de la Fédération du Commerce et de la Distribution : FCD, 12 rue Euler, 75008 Paris / https://mediateur.fcd.fr/.
    </p>
    <p>


        Article 19 – Loi applicable


        Les présentes CGV sont soumises à la loi française.



        Version 1 du 09/04/2021


        Annexe : Modèle de formulaire de rétractation


        Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat :


        A l’attention de : LE FOURGON, 33 rue Denis du Péage - 59520 Marquette-Lez-Lille, +33 3 52 80 03 30], contact@lefourgon.com


        Je/Nous* vous notifie/notifions* par la présente ma/notre* rétractation du contrat portant sur la vente du bien ci-dessous :


        Commandé le :

        Reçu le :

        Adresse des (du) consommateur(s) :


        Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier) :
        <br>
        <br>



        * Rayez la mention inutile.
    </p>
{% endblock %}
