{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}

    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>


    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Villa Du Miel</strong>
            <hr>
            06 16 03 48 23 <br>
            8 rue des lylas , 93000 Paris <br>
            contact@lavilladumiel.fr <br>
        </div>
    </div>
{% endblock %}
